:root {
  --background-color: #690EAD; /* Change this to your preferred background color */
  --text-color: white; /* Change this to your preferred text color */
  --accent-color: #8536BF; /* Change this to your preferred accent color */
}
